<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <title>密码管理器</title>
    <!--<script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script>-->

    
    <link rel="stylesheet" href="css/frozenui.css">
    <link rel="stylesheet" href="style.css">
    

    
</head>

<body ontouchstart>
<section class="ui-container">
        
<section id="dialog">
    <h1 class="title">密码管理器</h1>
	<div class="demo-item">
		<p class="demo-desc">登录或注册</p>
		</br>
		<div class="ui-input ui-border-radius ui-input-text">
			<input type="text" name="" value="" placeholder="password">
		</div>
		</br>
        <ul class="ui-row">
			<li class="ui-col ui-col-50">
				<button class="ui-btn-lg ui-btn-primary">
                    注册
                </button>
			</li>
            <li class="ui-col ui-col-50">    
                <button class="ui-btn-lg ui-btn-danger">
                    登录
                </button>
			</li>
		</ul>
	</div>
</section>
</section>

    <script>

	</script>

</body>
</html>
